.App {
  text-align: center;
}


/* Home Styles*/

.home{
  display: flex;
  justify-content: space-between;
  width: 600px;
  background-color: rgb(42, 47, 96);
  text-align: justify;
  padding: 0;
  margin:auto;
  margin-top: 50px;
  border-radius: 15px;
  padding-bottom: 35px;
}

.homepage-title{
  background-color: rgb(228,36,15);
  color: rgb(254,217,52);
  font-size: 30px;
  font-weight: 700;
  padding: 15px;
}  

.login-button, .register-button{
  background-color: rgb(67, 185, 185);
  padding: 10px 40px;
}

.home-divider {
  padding: 10px;
  font-weight: 700;
}
/* Nav Bar */
nav {
  display: flex;
  background-color: rgb(35, 44, 44);
  font-weight: 700;
  padding: 0 10px;
  position: sticky;
  top: 0;
}
.nav-link {
  padding: 20px;
}
.nav-link:hover {  
  cursor: pointer;
}

.nav-title {
  font-size: 30px;
  font-weight: 800;
  padding: 10px 20px;
}

.right-align {
  margin-left: auto;
}
.register, .login{
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin: auto;
  padding: 20px 0;
}

.register-title, .login-title, .homepage-title, .about-intro {
  background-color: rgb(228,36,15);
  color: rgb(254,217,52);
  font-size: 40px;
  font-weight: 700;
  padding: 10px;
}

.register-form, .login-form {
  display:grid;
  grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
  align-items: center;
  justify-content: center;
  background-color: rgb(42, 47, 96);
  padding: 10px;
}

.nav-link {
  padding: 20px;
  color: rgb(24,113,145);
}

.right-align {
  margin-left: auto;
}

/* About Us styles*/
.bret, .erwin {
  align-items: flex-start;
}

.edward, .fredy {
  align-items: flex-end;
}

.bret-title, .bret-initial, .edward-title, .edward-initial , .erwin-title, .erwin-initial, .fredy-title, .fredy-initial{
  color:rgb(228,36,15);
}

.bret-initial, .edward-initial, .erwin-initial, .fredy-initial {
  font-size: x-large;
}

.bret-story, .edward-story , .erwin-story, .fredy-story{
  color: rgb(234,237,242);
}

/* Admin styles*/

.admins-container, .clients-container {
  padding: 0 0 40px;
}

.delete-admin-button {
  background-color:rgb(217, 45, 45);
  font-weight: 900;
  padding: 7px 7px;
  margin: 0 0 15px 0;
  opacity: 80%;
  margin-top: 50px;
}

.mascot {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 400px;
  max-height: 400px;
}