.App {
  text-align: center;
}


/* Home Styles*/

.home{
  width: 600px;
  background-color: rgb(69, 126, 126);
  padding: 0;
  margin:auto;
  margin-top: 50px;
  border-radius: 15px;
  padding-bottom: 35px;
}

.homepage-title{
  background-color: darkslategray;
  font-size: 30px;
  font-weight: 700;
  padding: 15px;
}  

.login-button, .register-button{
  background-color: rgb(67, 185, 185);
  padding: 10px 40px;
}
.login-button:hover, .register-button:hover{
  background-color: #644997;
  border-top: 2px solid gray;
  border-right: 2px solid gray;
  border-bottom: 2px solid gainsboro;
  border-left: 2px solid gainsboro;
  padding: 8px 40px;
}

.home-divider {
  padding: 10px;
  font-weight: 700;
}

.register, .login{
  width: 40%;
  margin: auto;
  padding: 20px 0;
}

.register-title, .login-title {
  background-color: rgb(141, 150, 112);
  font-size: 40px;
  font-weight: 700;
  padding: 10px;
}

.register-form, .login-form {
  display:grid;
  grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
  align-items: center;
  justify-content: center;
  background-color: rgb(42, 47, 96);
  padding: 10px;
}

.nav-link {
  padding: 20px;
}
.nav-link:hover {
  background-color: rgb(27, 73, 73);
  cursor: pointer;
}

.right-align {
  margin-left: auto;
}